<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Detalhes do Pet</title>
  </head>
  <body>
    <h1>Detalhes do Pet</h1>
    <div th:if="${pet != null}">
      <p>ID: <span th:text="${pet.id}"></span></p>
      <p>Nome: <span th:text="${pet.name}"></span></p>
      <p>Tipo: <span th:text="${pet.type}"></span></p>
      <p>Raça: <span th:text="${pet.breed}"></span></p>
      <p>Tamanho: <span th:text="${pet.size}"></span></p>
      <p>Idade: <span th:text="${pet.age}"></span></p>
      <p>Adotado: <span th:text="${pet.adopted}"></span></p>
      <p>Número de Contato: <span th:text="${pet.contactNumber}"></span></p>
    </div>
    <a href="/pets">Voltar</a>
  </body>
</html>
